In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
database = pd.read_stata("./compustat_crsp_merged_1989_2019_identifier.dta")

In [7]:
# database

In [4]:
sorted_database = database.sort_values(by="cik", kind="mergesort").reset_index(drop = True)

In [5]:
sorted_database['datayear'] = pd.DatetimeIndex(sorted_database['datadate']).year

In [6]:
sorted_database

,gvkey,lpermno,lpermco,datadate,fyear,tic,cusip,conm,cik,sich,sic,datayear
0,001038,66413.0,6301.0,1989-03-31,1988.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1989
1,001038,66413.0,6301.0,1990-03-31,1989.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1990
2,001038,66413.0,6301.0,1991-03-31,1990.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1991
3,001038,66413.0,6301.0,1992-03-31,1991.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1992
4,001038,66413.0,6301.0,1993-03-31,1992.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1993
...,...,...,...,...,...,...,...,...,...,...,...,...
204988,066336,89498.0,43502.0,2005-12-31,2005.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2005
204989,066336,89498.0,43502.0,2006-12-31,2006.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2006
204990,066336,89498.0,43502.0,2007-12-31,2007.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2007
204991,066336,89498.0,43502.0,2008-12-31,2008.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2008
204992,176828,18459.0,56685.0,2019-12-31,2019.0,CARE,146103106,CARTER BANKSHARES INC,0001829576,6020.0,6020,2019

In [7]:
len(sorted_database)

204993

In [8]:
for i in range(len(sorted_database)):
    if len(sorted_database['cik'][i])!=0:
        print(i)
        break

5922

In [9]:
myDict = {}
for i in range(5922,len(sorted_database)):
    #storing this first CIK as previous CIK
    prev = sorted_database['cik'][i]
    #creating empty list for datadates over 1989-2021 period
    l = [None] * 33
    while i<len(sorted_database) and sorted_database['cik'][i] == prev:
        year = sorted_database['datayear'][i]
        sample_year = year
        l[year-1989] = sorted_database['datadate'][i]
        sample_datadate = sorted_database['datadate'][i]
        i += 1
        for j in range(len(l)):
            if l[j] == None:
                yr = j + 1989
                mnth = sample_datadate.month
                dy = sample_datadate.day
                # Create the Timestamp object
                ts = pd.Timestamp(year = yr, month = mnth, day = dy - 1, hour = 0, minute = 0, second = 0)
                l[j] = ts
    myDict[prev] = l
    i -= 1

In [10]:
len(myDict)

19511

In [11]:
myDict['0001821297']

[Timestamp('1989-12-30 00:00:00'),
 Timestamp('1990-12-30 00:00:00'),
 Timestamp('1991-12-30 00:00:00'),
 Timestamp('1992-12-30 00:00:00'),
 Timestamp('1993-12-30 00:00:00'),
 Timestamp('1994-12-30 00:00:00'),
 Timestamp('1995-12-30 00:00:00'),
 Timestamp('1996-12-30 00:00:00'),
 Timestamp('1997-12-30 00:00:00'),
 Timestamp('1998-12-30 00:00:00'),
 Timestamp('1999-12-30 00:00:00'),
 Timestamp('2000-12-30 00:00:00'),
 Timestamp('2001-12-30 00:00:00'),
 Timestamp('2002-12-30 00:00:00'),
 Timestamp('2003-12-30 00:00:00'),
 Timestamp('2004-12-30 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2006-12-30 00:00:00'),
 Timestamp('2007-12-30 00:00:00'),
 Timestamp('2008-12-31 00:00:00'),
 Timestamp('2009-12-30 00:00:00'),
 Timestamp('2010-12-30 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2012-12-30 00:00:00'),
 Timestamp('2013-12-30 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2017-12-30 00:00:00'),
 Timestamp('2018-12-30 00:00:00'),
 Timestamp('2019-12-30 00:00:00'),
 Timestamp('2020-12-30 00:00:00'),
 Timestamp('2021-12-30 00:00:00')]

In [12]:
df = pd.read_csv('data.csv',encoding="ISO-8859-1")

In [13]:
len(df)

229956

In [14]:
df.isnull().values.any()

True

In [15]:
df = df.dropna(inplace= False)

In [16]:
df = df.reset_index(drop=True)

In [17]:
len(df) #checking how many unique are there

229741

In [18]:
df

,Text,Field1,Field2_Text,Field3
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste..."
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET..."
...,...,...,...,...
229736,Memorial Resource Development's (MRD) CEO John...,"May 6, 2015 9:50 PM ET",Memorial Resource Development Corp. (MRD),Memorial Resource Development Corp (NASDAQ:MRD...
229737,Intersect ENT's (XENT) CEO Lisa Earnhardt on Q...,"May 6, 2015 9:48 PM ET","Intersect ENT, Inc. (XENT)","Intersect ENT, Inc. (NASDAQ:XENT) Q1 2015 Earn..."
229738,Paycom Software's (PAYC) CEO Chad Richison on ...,"May 6, 2015 9:46 PM ET","Paycom Software, Inc. (PAYC)",Paycom Software Inc. (NYSE:PAYC) Q1 2015 Earni...
229739,Cerulean Pharma's (CERU) CEO Chris Guiffre Dis...,"May 6, 2015 9:46 PM ET","DarÃ© Bioscience, Inc. (DARE)",Cerulean Pharma Inc. (CERU) Q1 2015 Earnings C...
229740,Powell Industries' (POWL) CEO Mike Lucas on Q2...,"May 6, 2015 9:37 PM ET","Powell Industries, Inc. (POWL)","Powell Industries, Inc. (NASDAQ:POWL) Q2 2015 ..."

In [19]:
df['Text'].isnull().any()

False

In [20]:
com_name = df['Field2_Text']    # creating a list of company names and their tickers

In [22]:
com_name

0                         EOG Resources, Inc. (EOG)
1                            Eaton Vance Corp. (EV)
2                             Whitestone REIT (WSR)
3                    Applied Materials, Inc. (AMAT)
4                         Garrett Motion Inc. (GTX)
                            ...
229736    Memorial Resource Development Corp. (MRD)
229737                   Intersect ENT, Inc. (XENT)
229738                 Paycom Software, Inc. (PAYC)
229739                DarÃ© Bioscience, Inc. (DARE)
229740               Powell Industries, Inc. (POWL)
Name: Field2_Text, Length: 229741, dtype: object

In [21]:
#extracting tickers
tickers = []
Deleted_i = []
for i in range(229741):
    try:
        ticker = com_name[i][com_name[i].find("(")+1:com_name[i].find(")")]
    except:
        Deleted_i.append(i)
    tickers.append(ticker)

In [23]:
df['tickers'] = tickers         # creating a new column in dataframe of only tickers

In [24]:
df['tickers'].isnull().values.any()

False

In [25]:
#creating company names like we did for tickers
com_names = []
del_i = []
for i in range(len(com_name)):
    try:
        name = com_name[i][0:com_name[i].find("(")-1]
    except:
        del_i.append(i)
    com_names.append(name)

In [26]:
df['company_names_seekingalpha'] = com_names #creating a new column of company names from seeking alpha

In [27]:
cikandticker = database[['cik', 'tic']] #creating a subdataframe of only company name and tickers
#here tickers are the link between the company names from seeking alpha and company names from database

In [28]:
k = database[['cik', 'tic']]

In [29]:
len(k)

204993

In [30]:
cikandticker.drop_duplicates(inplace = True) #deduplication of dataframe

In [31]:
cikandticker[['cik','tic']]

               cik    tic
0       0000730052   ANTQ
1       0000001750    AIR
32      0000313368   ABSI
38      0000702511   ACSE
44      0000002134  6927B
...            ...    ...
204986  0001707210   NMCI
204988  0001739445    ACA
204990  0001720161   CTRM
204991  0001280776   IMUX
204992  0000921114   ARMP

[20518 rows x 2 columns]

In [32]:
#extracting company names from the database which have the same ticker as that of our original data from seeking alpha
ciks = []
for ticker in tickers:
    cik = cikandticker.loc[cikandticker['tic'] == ticker, 'cik']
    #print(company)
    try: #using try and except to avoid any errors when the company name is missing due to some missing values in data
        ciks.append(cik.iloc[0])
    except:
        ciks.append(None)

In [33]:
df['CIK'] = ciks #creating a new column of the company names from database to compare

In [34]:
conameandticker = database[['conm', 'tic']] #creating a subdataframe of only company name and tickers
#here tickers are the link between the company names from seeking alpha and company names from database

In [35]:
conameandticker.drop_duplicates(inplace = True) #deduplication of dataframe

In [36]:
conameandticker[['conm','tic']]

                              conm    tic
0            A.A. IMPORTING CO INC   ANTQ
1                         AAR CORP    AIR
32              ABS INDUSTRIES INC   ABSI
38             ACS ENTERPRISES INC   ACSE
44              ACS INDUSTRIES INC  6927B
...                            ...    ...
204986  NAVIOS MARITIME CONTAINERS   NMCI
204988                  ARCOSA INC    ACA
204990         CASTOR MARITIME INC   CTRM
204991                 IMMUNIC INC   IMUX
204992  ARMATA PHARMACEUTICALS INC   ARMP

[20518 rows x 2 columns]

In [37]:
#extracting company names from the database which have the same ticker as that of our original data from seeking alpha
companies = []
for ticker in tickers:
    company = conameandticker.loc[conameandticker['tic'] == ticker, 'conm']
    #print(company)
    try: #using try and except to avoid any errors when the company name is missing due to some missing values in data
        companies.append(company.iloc[0])
    except:
        companies.append(None)

In [38]:
df['company_names_database'] = companies #creating a new column of the company names from database to compare

# Fuzzy Matching

In [39]:
conda install -c conda-forge python-levenshtein

Note: you may need to restart the kernel to use updated packages.

In [41]:
from fuzzywuzzy import fuzz
#if warning comes then use the below command in Anaconda Prompt
#conda install -c conda-forge python-levenshtein

In [42]:
#getting the scores after fuzzy matching between company names from two sources i.e seeking alpha and database
scores = []
for i,j in zip(df.company_names_seekingalpha,df.company_names_database):
    score = fuzz.token_set_ratio(i,j)
    scores.append(score)

In [43]:
df['similarity_scores'] = scores

In [44]:
years = []
dates = []
months = []
for i in range(len(df)):
    datetime = df['Field1'][i]
    month = datetime[0:3].strip()
    idx = datetime.find(',')
    date = datetime[4:idx].strip()
    year = datetime[idx+1:idx+6].strip()
    years.append(year)
    months.append(month)
    dates.append(date)

In [45]:
df['Year'] = years

In [46]:
df['Month'] = months

In [47]:
df['Day'] = dates

In [48]:
def toint(month):
    if month == "Jan":
        return 1
    elif month == "Feb":
        return 2
    elif month == "Mar":
        return 3
    elif month == "Apr":
        return 4
    elif month == "May":
        return 5
    elif month == "Jun":
        return 6
    elif month == "Jul":
        return 7
    elif month == "Aug":
        return 8
    elif month == "Sep":
        return 9
    elif month == "Oct":
        return 10
    elif month == "Nov":
        return 11
    else:
        return 12

In [49]:
calldict = {}
nonevalues = []
for i in range(len(df)):
    cik = df['CIK'][i]
    if cik==None:
        continue
    year = int(df['Year'][i])
    try:
        timestamp = myDict[cik][year-1989]
        datadate = timestamp.day
        datamonth = timestamp.month
        calldate = int(df['Day'][i])
        callmonth = toint(df['Month'][i])
        yr = year
        if callmonth < datamonth:
            yr = year - 1
        elif callmonth > datamonth:
            yr = year
        elif callmonth == datamonth:
            if calldate <= datadate:
                yr = year - 1
            else:
                yr = year
        if cik in calldict.keys():
            calldict[cik][yr-1989] += 1
        else:
            l = [0]*33
            l[yr-1989] += 1
            calldict[cik] = l
    except:
        nonevalues.append(i)

In [50]:
i

229740

In [51]:
len(calldict)

5837

In [52]:
concalldata = pd.DataFrame.from_dict(calldict, orient ='index')

In [53]:
concalldata

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0000821189,0,0,0,0,0,0,0,0,0,0,...,12,5,10,6,6,11,13,10,0,0
0000350797,0,0,0,0,0,0,0,0,0,0,...,6,5,6,7,6,7,8,6,0,0
0001175535,0,0,0,0,0,0,0,0,0,0,...,4,4,6,6,6,7,8,5,0,0
0000006951,0,0,0,0,0,0,0,0,0,0,...,9,11,5,7,6,10,9,15,0,0
0001617406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,7,8,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0000754009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001007019,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
0001505823,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
0001448301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
0001063259,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [54]:
len(nonevalues)

288

In [55]:
df.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11

In [56]:
len(df)

229741

In [57]:
df

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11
...,...,...,...,...,...,...,...,...,...,...,...,...
229736,Memorial Resource Development's (MRD) CEO John...,"May 6, 2015 9:50 PM ET",Memorial Resource Development Corp. (MRD),Memorial Resource Development Corp (NASDAQ:MRD...,MRD,Memorial Resource Development Corp.,0001599222,MEMORIAL RESOURCE DEV CORP,92,2015,May,6
229737,Intersect ENT's (XENT) CEO Lisa Earnhardt on Q...,"May 6, 2015 9:48 PM ET","Intersect ENT, Inc. (XENT)","Intersect ENT, Inc. (NASDAQ:XENT) Q1 2015 Earn...",XENT,"Intersect ENT, Inc.",0001271214,INTERSECT ENT INC,100,2015,May,6
229738,Paycom Software's (PAYC) CEO Chad Richison on ...,"May 6, 2015 9:46 PM ET","Paycom Software, Inc. (PAYC)",Paycom Software Inc. (NYSE:PAYC) Q1 2015 Earni...,PAYC,"Paycom Software, Inc.",0001590955,PAYCOM SOFTWARE INC,100,2015,May,6
229739,Cerulean Pharma's (CERU) CEO Chris Guiffre Dis...,"May 6, 2015 9:46 PM ET","DarÃ© Bioscience, Inc. (DARE)",Cerulean Pharma Inc. (CERU) Q1 2015 Earnings C...,DARE,"DarÃ© Bioscience, Inc.",0001701808,DARE BIOSCIENCE INC,97,2015,May,6
229740,Powell Industries' (POWL) CEO Mike Lucas on Q2...,"May 6, 2015 9:37 PM ET","Powell Industries, Inc. (POWL)","Powell Industries, Inc. (NASDAQ:POWL) Q2 2015 ...",POWL,"Powell Industries, Inc.",0000080420,POWELL INDUSTRIES INC,100,2015,May,6

In [58]:
myDict['0000821189']

[Timestamp('1989-12-30 00:00:00'),
 Timestamp('1990-12-30 00:00:00'),
 Timestamp('1991-12-30 00:00:00'),
 Timestamp('1992-12-30 00:00:00'),
 Timestamp('1993-12-30 00:00:00'),
 Timestamp('1994-12-30 00:00:00'),
 Timestamp('1995-12-30 00:00:00'),
 Timestamp('1996-12-30 00:00:00'),
 Timestamp('1997-12-30 00:00:00'),
 Timestamp('1998-12-30 00:00:00'),
 Timestamp('1999-12-30 00:00:00'),
 Timestamp('2000-12-30 00:00:00'),
 Timestamp('2001-12-30 00:00:00'),
 Timestamp('2002-12-30 00:00:00'),
 Timestamp('2003-12-30 00:00:00'),
 Timestamp('2004-12-30 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2006-12-30 00:00:00'),
 Timestamp('2007-12-30 00:00:00'),
 Timestamp('2008-12-30 00:00:00'),
 Timestamp('2009-12-30 00:00:00'),
 Timestamp('2010-12-30 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2012-12-30 00:00:00'),
 Timestamp('2013-12-30 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2017-12-30 00:00:00'),
 Timestamp('2018-12-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-12-30 00:00:00'),
 Timestamp('2021-12-30 00:00:00')]

In [59]:
fiscalyears = []
nonevals = []
for i in range(len(df)):
    cik = df['CIK'][i]
    if cik==None:
        fiscalyears.append(None)
        continue
    year = int(df['Year'][i])
    #print(year)
    try:
        timestamp = myDict[cik][year-1989]
        datadate = timestamp.day
        datamonth = timestamp.month
        calldate = int(df['Day'][i])
        callmonth = toint(df['Month'][i])
        yr = year
        if callmonth < datamonth:
            yr = year - 1
        elif callmonth > datamonth:
            yr = year
        elif callmonth == datamonth:
            if calldate <= datadate:
                yr = year - 1
            else:
                yr = year
        fiscalyears.append(yr)
    except:
        fiscalyears.append(None)
        nonevals.append(i)

In [60]:
len(fiscalyears)

229741

In [61]:
df['fyear'] = fiscalyears

In [62]:
df.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30,2019.0
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11,NaN

In [63]:
len(df)

229741

# Part 2

In [64]:
df_new1 = df.mask(df.eq('None')).dropna().reset_index(drop = True)

In [65]:
df_new = df_new1

In [66]:
df_new.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30,2019.0
4,"Park Hotels & Resorts, Inc. (PK) CEO Thomas Ba...","May 11, 2020 5:10 PM ET",Park Hotels & Resorts Inc. (PK),"Park Hotels & Resorts, Inc. (NYSE:PK) Q1 2020 ...",PK,Park Hotels & Resorts Inc.,0001617406,PARK HOTELS & RESORTS,100,2020,May,11,2019.0

In [67]:
df['Month'].unique()

array(['Jun', 'May', 'Apr', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Aug',
       'Sep', 'Jul', 'Mar'], dtype=object)

In [68]:
month_dict = {
    'Jun' : '06', 'May' : '05', 'Apr' : '04', 'Feb' : '02', 'Jan' : '01' , 'Dec' : '12', 'Nov' : '11', 'Oct' : '10' , 'Aug' : '08',
       'Sep' : '09', 'Jul' : '07', 'Mar' : '03'
}

In [69]:
month_no_list = []
for i in range(0,len(df_new)):
    month_no_list.append(month_dict[df_new['Month'][i]])
df_new['Month_'] = month_no_list

In [70]:
day_no_list = []
for i in range(0,len(df_new)):
    if(int(df_new['Day'][i]) >= 1 and int(df_new['Day'][i]) <= 9):
        day_no_list.append('0'+ df_new['Day'][i])
    else:
        day_no_list.append(df_new['Day'][i])
    
df_new['Day_'] = day_no_list

In [71]:
# put correct dateyear in each row
dateyear_list = []
for i in range(0,len(df_new)):
    conf_time = df_new['Year'][i] + '-' + f"{df_new['Month_'][i]}" + '-' + f"{df_new['Day_'][i]}"
    
    if(conf_time < myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989].date().strftime('%Y-%m-%d')):
         # prev dateyear
        dateyear = myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989-1].date().strftime('%Y-%m-%d')
    else:
        # same dateyear
        dateyear = myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989].date().strftime('%Y-%m-%d')
    dateyear_list.append(dateyear)
df_new['dateyear'] = dateyear_list

In [72]:
# checking
count1 = 0
count2 = 0
for i in range(0,len(df_new)):
    if(df_new['Year'][i] == df_new['dateyear'][i].replace('-', ' ').split(' ')[0]):
        count1 += 1
    else:
        count2 += 1
# count1(conference with same conf_year and dateyear) is more than count2 (conference with different conf_year and dateyear)

In [73]:
conf_time_list = []
for i in range(0,len(df_new)):
    conf_time_list.append(df_new['Year'][i] + '-' + f"{df_new['Month_'][i]}" + '-' + f"{df_new['Day_'][i]}")
df_new['conf_time'] = conf_time_list

In [74]:
df_new2 = df_new

In [75]:
df_new.head(3)

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear,Month_,Day_,dateyear,conf_time
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0,06,01,2019-12-31,2020-06-01
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0,05,20,2019-10-31,2020-05-20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0,05,08,2019-12-31,2020-05-08

In [76]:
# add quarter column
def date_range(start, end, intv):
    from datetime import datetime
    start = datetime.strptime(start,"%Y%m%d")
    end = datetime.strptime(end,"%Y%m%d")
    diff = (end  - start ) / intv
    for i in range(intv):
        yield (start + diff * i).strftime("%Y%m%d")
    yield end.strftime("%Y%m%d")

quarters_list = []

for i in range(0,len(df_new)):
    conf_date = df_new['conf_time'][i].replace('-','')
    
    dateyear_i = df_new['dateyear'][i].replace('-','')
    
    dateyear_year = df_new['dateyear'][i].split('-')[0]
    dateyear_f = myDict[df_new['CIK'][i]][int(dateyear_year)-1989+1].date().strftime('%Y%m%d')
    
    intervals = list(date_range(dateyear_i,dateyear_f, 4))
    
    
    if(conf_date >= intervals[0] and conf_date < intervals[1]):
        quarters_list.append(1)
    elif(conf_date >= intervals[1] and conf_date < intervals[2]):
        quarters_list.append(2)
    elif(conf_date >= intervals[2] and conf_date < intervals[3]):
        quarters_list.append(3)
    elif(conf_date >= intervals[3] and conf_date < intervals[4]):
        quarters_list.append(4)

df_new['quarter'] = quarters_list

In [77]:
df_new.head(1)

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear,Month_,Day_,dateyear,conf_time,quarter
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0,06,01,2019-12-31,2020-06-01,2

In [78]:
df_new_sorted1 = df_new.sort_values(by=["CIK",'conf_time'], kind="mergesort").reset_index(drop = True)
df_new_sorted2 = df_new.sort_values(by=["CIK",'dateyear','quarter'], kind="mergesort").reset_index(drop = True)
df_new_sorted3 = df_new.sort_values(by=["CIK",'dateyear'], kind="mergesort").reset_index(drop = True)

In [79]:
# import pandas as pd
# import numpy as np
# from nltk.corpus import stopwords
# import nltk
# nltk.download('stopwords')
# import re
# from sklearn.feature_extraction.text import TfidfVectorizer 
# from sklearn.metrics.pairwise import cosine_similarity
# from sklearn.metrics.pairwise import euclidean_distances

# Libraries

In [82]:
# tf_idf
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
stop_words_l = stopwords.words('english')
import nltk
nltk.download('stopwords')
import re
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
!pip install -U sentence-transformers


# word2Vec
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import gensim

global W2V_PATH
global model_w2v
W2V_PATH = "GoogleNews-vectors-negative300.bin.gz"
model_w2v = gensim.models.KeyedVectors.load_word2vec_format(W2V_PATH, binary=True)


# doc2Vec

from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

# GloVe

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
embeddings_index = dict()

with open('glove.6B.100d.txt', encoding = "UTF-8") as file:
    for line in file:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = coefs


# bert

from sentence_transformers import SentenceTransformer
global sbert_model
sbert_model = SentenceTransformer('bert-base-nli-mean-tokens')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dutta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Requirement already up-to-date: sentence-transformers in c:\users\dutta\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied, skipping upgrade: numpy in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (1.19.5)
Requirement already satisfied, skipping upgrade: sentencepiece in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (0.1.91)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (4.47.0)
Requirement already satisfied, skipping upgrade: transformers<5.0.0,>=4.6.0 in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (4.9.2)
Requirement already satisfied, skipping upgrade: torch>=1.6.0 in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (1.6.0)
Requirement already satisfied, skipping upgrade: nltk in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (3.5)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (0.23.1)
Requirement already satisfied, skipping upgrade: huggingface-hub in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (0.0.10)
Requirement already satisfied, skipping upgrade: torchvision in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (0.10.0)
Requirement already satisfied, skipping upgrade: scipy in c:\users\dutta\anaconda3\lib\site-packages (from sentence-transformers) (1.5.0)
Requirement already satisfied, skipping upgrade: packaging in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (20.4)
Requirement already satisfied, skipping upgrade: requests in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2.24.0)
Requirement already satisfied, skipping upgrade: pyyaml>=5.1 in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (5.3.1)
Requirement already satisfied, skipping upgrade: regex!=2019.12.17 in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2020.6.8)
Requirement already satisfied, skipping upgrade: sacremoses in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.0.43)
Requirement already satisfied, skipping upgrade: filelock in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.12)
Requirement already satisfied, skipping upgrade: tokenizers<0.11,>=0.10.1 in c:\users\dutta\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.10.1)
Requirement already satisfied, skipping upgrade: future in c:\users\dutta\anaconda3\lib\site-packages (from torch>=1.6.0->sentence-transformers) (0.18.2)
Requirement already satisfied, skipping upgrade: joblib in c:\users\dutta\anaconda3\lib\site-packages (from nltk->sentence-transformers) (0.16.0)
Requirement already satisfied, skipping upgrade: click in c:\users\dutta\anaconda3\lib\site-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\dutta\anaconda3\lib\site-packages (from scikit-learn->sentence-transformers) (2.1.0)
Requirement already satisfied, skipping upgrade: typing-extensions in c:\users\dutta\anaconda3\lib\site-packages (from huggingface-hub->sentence-transformers) (3.7.4.2)
Requirement already satisfied, skipping upgrade: pillow>=5.3.0 in c:\users\dutta\anaconda3\lib\site-packages (from torchvision->sentence-transformers) (7.2.0)
Requirement already satisfied, skipping upgrade: six in c:\users\dutta\anaconda3\lib\site-packages (from packaging->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.15.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in c:\users\dutta\anaconda3\lib\site-packages (from packaging->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.4.7)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dutta\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.25.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\dutta\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\dutta\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\dutta\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2020.6.20)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dutta\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=391.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=3951.0, style=ProgressStyle(description…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=2.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=625.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=122.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=229.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=438007537.0, style=ProgressStyle(descri…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=53.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=112.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=466081.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=399.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=231508.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=190.0, style=ProgressStyle(description_…

# Scores Class

In [83]:
class Scores:

    def return_score(
        self,
        pairwise_similarities,
        pairwise_differences,
        matrix,
        ):
        if matrix == 'Cosine Similarity':
            score1 = pairwise_similarities[0][1]
        elif matrix == 'Euclidean Distance':
            score1 = pairwise_differences[0][1]
        return score1

    # def stopword(self, documents_df):

    #     stop_words_l = stopwords.words('english')
    #     documents_df['Field3'] = \
    #         documents_df.documents.apply(lambda x: \
    #             ' '.join(re.sub(r'[^a-zA-Z]', ' ', w).lower() for w in
    #             x.split() if re.sub(r'[^a-zA-Z]', ' ', w).lower()
    #             not in stop_words_l))
    #     return documents_df

    def tf_idf_vectorizer(self, documents_df):

        tfidfvectoriser = TfidfVectorizer()
        tfidfvectoriser.fit(documents_df.Field3)
        tfidf_vectors = \
            tfidfvectoriser.transform(documents_df.Field3)

        return (tfidfvectoriser, tfidf_vectors)

    def doc2Vec(self, documents_df, matrix):

        tagged_data = [TaggedDocument(words=word_tokenize(doc),
                       tags=[i]) for (i, doc) in
                       enumerate(documents_df.Field3)]
        model_d2v = Doc2Vec(vector_size=100, alpha=0.025, min_count=1)

        model_d2v.build_vocab(tagged_data)

        for epoch in range(100):
            model_d2v.train(tagged_data,
                            total_examples=model_d2v.corpus_count,
                            epochs=model_d2v.epochs)

        document_embeddings = np.zeros((documents_df.shape[0], 100))

        for i in range(len(document_embeddings)):
            document_embeddings[i] = model_d2v.docvecs[i]

        pairwise_similarities = cosine_similarity(document_embeddings)
        pairwise_differences = euclidean_distances(document_embeddings)

        return self.return_score(pairwise_similarities,
                                 pairwise_differences, matrix)

    def word2Vec(self, documents_df, matrix):

        tokenizer = Tokenizer()
        tokenizer.fit_on_texts(documents_df.Field3)
        tokenized_documents = tokenizer.texts_to_sequences(documents_df.Field3)
        tokenized_paded_documents = pad_sequences(tokenized_documents, maxlen=64, padding='post')
        vocab_size = len(tokenizer.word_index) + 1

        embedding_matrix = np.zeros((vocab_size, 300))
        for (word, i) in tokenizer.word_index.items():
            if word in model_w2v:
                embedding_matrix[i] = model_w2v[word]

        document_word_embeddings = np.zeros((len(tokenized_paded_documents), 64, 300))
        for i in range(len(tokenized_paded_documents)):
            for j in range(len(tokenized_paded_documents[0])):
                document_word_embeddings[i][j] = embedding_matrix[tokenized_paded_documents[i][j]]

        document_embeddings = np.zeros((len(tokenized_paded_documents),300))

        (tfidfvectoriser, tfidf_vectors) = self.tf_idf_vectorizer(documents_df)

        words = tfidfvectoriser.get_feature_names()
        #print(words)
        for i in range(len(document_word_embeddings)):
            for j in range(len(words)):
#                 print(a)
#                 print(words[j])
#                 print(tokenizer.word_index[words[j]])
#                 print(embedding_matrix[tokenizer.word_index[words[j]]])
                try:
                    a = tfidf_vectors[i].toarray().T
                    document_embeddings[i] += embedding_matrix[tokenizer.word_index[words[j]]] * a[j]
                except:
                    pass

        pairwise_similarities = cosine_similarity(document_embeddings)
        pairwise_differences = euclidean_distances(document_embeddings)

        return self.return_score(pairwise_similarities, pairwise_differences, matrix)

    def tf_idf(self, documents_df, matrix):

        (tfidfvectoriser, tfidf_vectors) = \
            self.tf_idf_vectorizer(documents_df)

        pairwise_similarities = np.dot(tfidf_vectors,
                tfidf_vectors.T).toarray()
        pairwise_differences = euclidean_distances(tfidf_vectors)

        return self.return_score(pairwise_similarities,
                                 pairwise_differences, matrix)

    def gloVe(self, documents_df, matrix):

        tokenizer = Tokenizer()
        tokenizer.fit_on_texts(documents_df.Field3)
        tokenized_documents = \
            tokenizer.texts_to_sequences(documents_df.Field3)
        tokenized_paded_documents = pad_sequences(tokenized_documents,
                maxlen=64, padding='post')
        vocab_size = len(tokenizer.word_index) + 1

        # embeddings_index = dict()

        # with open('glove.6B.100d.txt') as file:
        #     for line in file:
        #         values = line.split()
        #         word = values[0]
        #         coefs = np.asarray(values[1:], dtype='float32')
        #         embeddings_index[word] = coefs

        embedding_matrix = np.zeros((vocab_size, 100))
        #print(embedding_matrix)
        for (word, i) in tokenizer.word_index.items():
            embedding_vector = embeddings_index.get(word)
            if embedding_vector is not None:
                embedding_matrix[i] = embedding_vector

        document_embeddings = np.zeros((len(tokenized_paded_documents),
                100))

        (tfidfvectoriser, tfidf_vectors) = \
            self.tf_idf_vectorizer(documents_df)

        words = tfidfvectoriser.get_feature_names()

        for i in range(documents_df.shape[0]):
            for j in range(len(words)):
                #print(i,j)
                a = tfidf_vectors[i].toarray().T
                document_embeddings[i] += embedding_matrix[tokenizer.word_index[words[j]]] * a[j]
                

        pairwise_similarities = cosine_similarity(document_embeddings)
        pairwise_differences = euclidean_distances(document_embeddings)

        return self.return_score(pairwise_similarities, pairwise_differences, matrix)

    def bert(self, documents_df, matrix):
        document_embeddings = sbert_model.encode(documents_df['Field3'])
        #print(document_embeddings)
        pairwise_similarities = cosine_similarity(document_embeddings)
        pairwise_differences = euclidean_distances(document_embeddings)
        return self.return_score(pairwise_similarities, pairwise_differences, matrix)

#multiprocessing
def split_dataframe(df, chunk_size = 10000): 
    chunks = list()
    num_chunks = len(df) // chunk_size + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunk_size:(i+1)*chunk_size])
    return chunks

In [84]:
#scores.gloVe(documents_df,'Cosine Similarity')

In [85]:
# # score funcition for calculating score between any two documents
# def score(documents_df,matrix):
    
#     stop_words_l=stopwords.words('english')
#     documents_df['documents_cleaned']=documents_df.Field3.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )
    
    
#     tfidfvectoriser=TfidfVectorizer()
#     tfidfvectoriser.fit(documents_df.documents_cleaned)
#     tfidf_vectors=tfidfvectoriser.transform(documents_df.documents_cleaned)

#     pairwise_similarities=np.dot(tfidf_vectors,tfidf_vectors.T).toarray()
#     pairwise_differences=euclidean_distances(tfidf_vectors)
    
    
#     if matrix=='Cosine Similarity':
#         score1 = pairwise_similarities[0][1]
#     elif matrix=='Euclidean Distance':
#         score1 = pairwise_differences[0][1]
#     return score1

In [86]:
scores = Scores()

# per Conference df

In [87]:
df_per_conference = df_new_sorted1

In [88]:
df_per_conference.head(2)

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear,Month_,Day_,dateyear,conf_time,quarter
0,AAR Corp. F3Q08 (Qtr End 02/29/08) Earnings Ca...,"Mar. 19, 2008 2:05 PM ET",AAR Corp. (AIR),AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,AIR,AAR Corp.,0000001750,AAR CORP,100,2008,Mar,19,2007.0,03,19,2007-05-30,2008-03-19,4
1,AAR Corp. F3Q08 (Qtr End 02/29/08) Earnings Ca...,"Mar. 19, 2008 2:05 PM ET",AAR Corp. (AIR),AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,AIR,AAR Corp.,0000001750,AAR CORP,100,2008,Mar,19,2007.0,03,19,2007-05-30,2008-03-19,4

In [89]:
df_per_conference1 = df_per_conference

In [90]:
x = df_per_conference1[['CIK','conf_time','Field3']]

In [91]:
len(x)

202632

In [98]:
# score calculating logic per dateyear
#x['Cosine_Similarity'] = ""
#x['Euclidean_Distance'] = ""
import datetime
x['bert_c'] = ""
x['word2Vec_c'] = ""
#x['doc2Vec_c'] = ""
#x['golVe_c'] = ""
x['tf_idf_c'] = ""
x['bert_e'] = ""
x['word2Vec_e'] = ""
#x['doc2Vec_e'] = ""
#x['golVe_e'] = ""
x['tf_idf_e'] = ""

index_list = x.index.tolist()

for i in range(1,10000):

    if i%1000==0:
        tm = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        print(i,tm)
    documents_df = x.iloc[i-1:i+1,2].reset_index(drop = True).to_frame()
    #print(documents_df)

    
#     cosine = score(documents_df,'Cosine Similarity')
#     euclidean = score(documents_df,'Euclidean Distance')

    #x['Cosine_Similarity'][index_list[i]] = cosine
    #x['Euclidean_Distance'][index_list[i]] = euclidean
    
    
    #stop_words_l = stopwords.words('english')
#     documents_df['Field3'] = \
#         documents_df.Field3.apply(lambda x: \
#             ' '.join(re.sub(r'[^a-zA-Z]', ' ', w).lower() for w in
#             x.split() if re.sub(r'[^a-zA-Z]', ' ', w).lower()
#             not in stop_words_l))


    bert_c = scores.bert(documents_df,'Cosine Similarity')
    word2Vec_c = scores.word2Vec(documents_df,'Cosine Similarity')
    #doc2Vec_c = scores.doc2Vec(documents_df,'Cosine Similarity')
    #golVe_c = scores.gloVe(documents_df,'Cosine Similarity')
    tf_idf_c = scores.tf_idf(documents_df,'Cosine Similarity')
    bert_e = scores.bert(documents_df,'Euclidean Distance')
    word2Vec_e = scores.word2Vec(documents_df,'Euclidean Distance')
    #doc2Vec_e = scores.doc2Vec(documents_df,'Euclidean Distance')
    #golVe_e = scores.gloVe(documents_df,'Euclidean Distance')
    tf_idf_e = scores.tf_idf(documents_df,'Euclidean Distance')


    x['bert_c'][index_list[i]] = bert_c
    x['word2Vec_c'][index_list[i]] = word2Vec_c
    #x['doc2Vec_c'][index_list[i]] = doc2Vec_c
    #x['golVe_c'][index_list[i]] = gloVe_c
    x['tf_idf_c'][index_list[i]] = tf_idf_c
    x['bert_e'][index_list[i]] = bert_e
    x['word2Vec_e'][index_list[i]] = word2Vec_e
    #x['doc2Vec_e'][index_list[i]] = doc2Vec_e
    #x['golVe_e'][index_list[i]] = gloVe_e
    x['tf_idf_e'][index_list[i]] = tf_idf_e

In [100]:
x.head(100)

,CIK,conf_time,Field3,bert_c,word2Vec_c,tf_idf_c,bert_e,word2Vec_e,tf_idf_e
0,0000001750,2008-03-19,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,,,,,,
1,0000001750,2008-03-19,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,0.971007,0.99962,0.995601,3.658372,0.241948,0.093793
2,0000001750,2009-03-18,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,0.945314,0.993614,0.961018,5.049671,0.978722,0.27922
3,0000001750,2009-03-18,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,0.966401,0.999502,0.992648,3.958061,0.294529,0.121259
4,0000001750,2013-03-19,"AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...",0.89861,0.971138,0.915449,6.820607,2.076629,0.41122
...,...,...,...,...,...,...,...,...,...
95,0000001800,2013-10-16,The following audio is from a conference call ...,0.598124,0.608539,0.235979,13.535752,5.5222,1.23614
96,0000001800,2013-10-16,Abbott Laboratories (NYSE:ABT) Q3 2013 Earning...,0.58984,0.738674,0.354778,13.694193,5.957708,1.135977
97,0000001800,2014-01-22,Abbott Laboratories (NYSE:ABT) Q4 2013 Earning...,0.929657,0.995384,0.9729,5.720851,0.772088,0.232809
98,0000001800,2014-04-16,The following audio is from a conference call ...,0.625952,0.735644,0.344333,13.098491,5.734802,1.145135
99,0000001800,2014-04-16,Abbott Laboratories (NYSE:ABT) Q1 2014 Results...,0.68482,0.745856,0.361358,12.051268,5.829851,1.13017

In [95]:
sub_data = x.iloc[0:10000]
sub_data.to_csv("con_to_con.csv")

In [96]:
data = pd.read_csv("./con_to_con.csv")

In [97]:
data

,Unnamed: 0,CIK,conf_time,Field3,bert_c,word2Vec_c,tf_idf_c,bert_e,word2Vec_e,tf_idf_e
0,0,1750,2008-03-19,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1750,2008-03-19,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,0.971007,0.999620,0.995601,3.658372,0.241948,0.093793
2,2,1750,2009-03-18,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,0.945314,0.993614,0.961018,5.049671,0.978722,0.279220
3,3,1750,2009-03-18,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,0.966401,0.999502,0.992648,3.958061,0.294529,0.121259
4,4,1750,2013-03-19,"AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...",0.898610,0.971138,0.915449,6.820607,2.076629,0.411220
5,5,1750,2013-07-25,AAR Corp. (NYSE:AIR) Q4 2013 Earnings Call Jul...,0.952104,0.994276,0.963012,4.662909,0.841614,0.271986
6,6,1750,2013-09-24,AAR (NYSE:AIR) Q1 2014 Earnings Call September...,0.917538,0.994601,0.952115,6.091353,0.825215,0.309466
7,7,1750,2013-12-19,AAR (NYSE:AIR) Q2 2014 Earnings Call December ...,0.976104,0.992505,0.954180,3.242892,0.985583,0.302722
8,8,1750,2014-03-20,AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...,0.969720,0.996271,0.951132,3.667394,0.825311,0.312627
9,9,1750,2014-07-16,AAR Corporation (NYSE:AIR) Q4 2014 Earnings Co...,0.944302,0.989604,0.936727,5.040715,1.258953,0.355734
10,10,1750,2014-09-23,AAR Corporation (NYSE:AIR) Q1 2015 Results Ear...,0.950441,0.992332,0.947379,4.756462,0.968331,0.324409
11,11,1750,2014-12-18,AAR CORP. (NYSE:AIR) Q2 2015 Earnings Conferen...,0.982017,0.995978,0.944461,2.868655,0.706304,0.333283
12,12,1750,2015-03-30,AAR Corporation (NYSE:AIR) Q3 2015 Results Ear...,0.956173,0.992781,0.918043,4.551171,0.992359,0.404864
13,13,1750,2015-03-30,AAR Corporation (NYSE:AIR) Q3 2015 Results Ear...,0.986961,0.999563,0.991899,2.493155,0.242694,0.127286
14,14,1750,2015-07-14,AAR Corporation (NYSE:AIR) Q4 2015 Earnings Co...,0.917768,0.992445,0.941013,6.169842,1.063256,0.343474
15,15,1750,2015-09-24,AAR Corporation (NYSE:AIR) Q2 2016 Results Ear...,0.953548,0.991831,0.948195,4.625956,0.996363,0.321886
16,16,1750,2015-09-24,AAR Corporation (NYSE:AIR) Q2 2016 Results Ear...,0.969529,0.999545,0.989878,3.724334,0.245060,0.142284
17,17,1750,2015-12-17,AAR Corporation (NYSE:AIR) Q2 2016 Earnings Co...,0.954393,0.985214,0.917391,4.575355,1.391423,0.406471
18,18,1750,2016-03-22,AAR Corp. (NYSE:AIR) Q3 2016 Earnings Conferen...,0.977130,0.992287,0.922339,3.275186,1.011006,0.394108
19,19,1750,2016-07-12,AAR Corporation (NYSE:AIR) Q4 2016 Earnings Co...,0.959334,0.992642,0.927136,4.397193,0.983254,0.381745
20,20,1750,2016-07-12,AAR Corporation (NYSE:AIR) Q4 2016 Earnings Co...,0.988823,0.999296,0.991558,2.309943,0.335097,0.129939
21,21,1750,2016-09-22,AAR Corporation (NYSE:AIR) Q1 2017 Earnings Co...,0.953782,0.994674,0.925584,4.702521,0.977555,0.385787
22,22,1750,2016-09-22,AAR Corporation (NYSE:AIR) Q1 2017 Earnings Co...,0.986823,0.999494,0.993410,2.515141,0.256263,0.114808
23,23,1750,2016-12-21,AAR Corporation (NYSE:AIR) Q2 2017 Earnings Co...,0.978156,0.992091,0.915772,3.218742,1.219138,0.410434
24,24,1750,2016-12-21,AAR Corporation (NYSE:AIR) Q2 2017 Earnings Co...,0.987281,0.999558,0.995581,2.451453,0.238081,0.094011
25,25,1750,2017-03-21,AAR Corporation (NYSE:AIR) Q3 2017 Earnings Co...,0.951214,0.992719,0.918987,4.813427,1.225815,0.402524
26,26,1750,2017-07-11,AAR Corporation (NYSE:AIR) Q4 2017 Earnings Co...,0.946941,0.993334,0.931985,5.021478,0.911559,0.368823
27,27,1750,2017-09-19,AAR Corporation (NYSE:AIR) Q1 2018 Earnings Co...,0.928919,0.988273,0.936298,5.798534,1.221607,0.356936
28,28,1750,2017-09-19,AAR Corporation (NYSE:AIR) Q1 2018 Earnings Co...,0.983700,0.999618,0.995565,2.768196,0.221397,0.094185
29,29,1750,2017-12-21,AAR Corp (NYSE:AIR) Q2 2018 Earnings Conferenc...,0.974410,0.993160,0.939738,3.490459,1.007403,0.347165

# per quarter df

In [180]:
df_per_quarter = df_new_sorted2

In [181]:
df_per_quarter2 = df_per_quarter[0:10]

In [182]:
array_agg2 = lambda x: ' '.join(x)
df_2 = df_per_quarter2.groupby(['CIK','dateyear','quarter']).agg({'Field3':array_agg2})

In [183]:
df_2

                                                                          Field3
CIK        dateyear   quarter
0000001750 2007-05-30 4        AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...
           2008-05-30 4        AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...
           2012-05-30 4        AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...
           2013-05-30 1        AAR Corp. (NYSE:AIR) Q4 2013 Earnings Call Jul...
                      2        AAR (NYSE:AIR) Q1 2014 Earnings Call September...
                      3        AAR (NYSE:AIR) Q2 2014 Earnings Call December ...
                      4        AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...
           2014-05-30 1        AAR Corporation (NYSE:AIR) Q4 2014 Earnings Co...

In [184]:
y = df_2.reset_index(inplace=False)

In [185]:
y

,CIK,dateyear,quarter,Field3
0,0000001750,2007-05-30,4,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...
1,0000001750,2008-05-30,4,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...
2,0000001750,2012-05-30,4,"AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,..."
3,0000001750,2013-05-30,1,AAR Corp. (NYSE:AIR) Q4 2013 Earnings Call Jul...
4,0000001750,2013-05-30,2,AAR (NYSE:AIR) Q1 2014 Earnings Call September...
5,0000001750,2013-05-30,3,AAR (NYSE:AIR) Q2 2014 Earnings Call December ...
6,0000001750,2013-05-30,4,AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...
7,0000001750,2014-05-30,1,AAR Corporation (NYSE:AIR) Q4 2014 Earnings Co...

In [186]:
# a = y.loc[y['CIK'] == '0000001750']
# a
# b = a.loc[a['dateyear'] == '2018-05-30']
# b
# b.iloc[0:3]
# b.index.tolist()
# document = y.iloc[0:,3].reset_index(drop = True).to_frame()
# score(document,'Cosine Similarity')

In [187]:
y['bert_c'] = ""
y['word2Vec_c'] = ""
y['doc2Vec_c'] = ""
y['golVe_c'] = ""
y['tf_idf_c'] = ""
y['bert_e'] = ""
y['word2Vec_e'] = ""
y['doc2Vec_e'] = ""
y['golVe_e'] = ""
y['tf_idf_e'] = ""

CIK_list_2 = list(set(y['CIK'].to_list()))

for i in range(0,len(CIK_list_2)):
    df_temp_cik_2 = y.loc[y['CIK'] == CIK_list_2[i]]
    
    for i in range(0,len(df_temp_cik_2)):
        dateyear_list_2 = list(set(df_temp_cik_2['dateyear'].to_list()))
    
        
        for i in range(0,len(dateyear_list_2)):
            df_temp_dateyear_2 = df_temp_cik_2.loc[df_temp_cik_2['dateyear'] == dateyear_list_2[i]]
            
            index_list = df_temp_dateyear_2.index.tolist()
            
            for i in range(1,len(df_temp_dateyear_2)):
                documents_df = df_temp_dateyear_2.iloc[i-1:i+1,3].reset_index(drop = True).to_frame()
                
                # remove from
                #cosine = score(documents_df,'Cosine Similarity')
                #euclidean = score(documents_df,'Euclidean Distance')
                
                #y['Cosine_Similarity'][index_list[i]] = cosine
                #y['Euclidean_Distance'][index_list[i]] = euclidean
                # remove end
                
#                 stop_words_l = stopwords.words('english')
#                 documents_df['Field3'] = \
#                     documents_df.documents.apply(lambda x: \
#                         ' '.join(re.sub(r'[^a-zA-Z]', ' ', w).lower() for w in
#                         x.split() if re.sub(r'[^a-zA-Z]', ' ', w).lower()
#                         not in stop_words_l))

                bert_c = scores.bert(documents_df,'Cosine Similarity')
                #word2Vec_c = scores.word2Vec(documents_df,'Cosine Similarity')
                #doc2Vec_c = scores.doc2Vec(documents_df,'Cosine Similarity')
                #golVe_c = scores.golVe(documents_df,'Cosine Similarity')
                tf_idf_c = scores.tf_idf(documents_df,'Cosine Similarity')
                bert_e = scores.bert(documents_df,'Euclidean Distance')
                #word2Vec_e = scores.word2Vec(documents_df,'Euclidean Distance')
                #doc2Vec_e = scores.doc2Vec(documents_df,'Euclidean Distance')
                #golVe_e = scores.golVe(documents_df,'Euclidean Distance')
                tf_idf_e = scores.tf_idf(documents_df,'Euclidean Distance')


                y['bert_c'][index_list[i]] = bert_c
                #y['word2Vec_c'][index_list[i]] = word2Vec_c
                #y['doc2Vec_c'][index_list[i]] = doc2Vec_c
                #y['golVe_c'][index_list[i]] = golVe_c
                y['tf_idf_c'][index_list[i]] = tf_idf_c
                y['bert_e'][index_list[i]] = bert_e
                #y['word2Vec_e'][index_list[i]] = word2Vec_e
                #y['doc2Vec_e'][index_list[i]] = doc2Vec_e
                #y['golVe_e'][index_list[i]] = golVe_e
                y['tf_idf_e'][index_list[i]] = tf_idf_e

In [188]:
y

,CIK,dateyear,quarter,Field3,bert_c,word2Vec_c,doc2Vec_c,golVe_c,tf_idf_c,bert_e,word2Vec_e,doc2Vec_e,golVe_e,tf_idf_e
0,0000001750,2007-05-30,4,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,,,,,,,,,,
1,0000001750,2008-05-30,4,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,,,,,,,,,,
2,0000001750,2012-05-30,4,"AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...",,,,,,,,,,
3,0000001750,2013-05-30,1,AAR Corp. (NYSE:AIR) Q4 2013 Earnings Call Jul...,,,,,,,,,,
4,0000001750,2013-05-30,2,AAR (NYSE:AIR) Q1 2014 Earnings Call September...,0.917538,,,,0.952115,6.09135,,,,0.309466
5,0000001750,2013-05-30,3,AAR (NYSE:AIR) Q2 2014 Earnings Call December ...,0.976104,,,,0.95418,3.24289,,,,0.302722
6,0000001750,2013-05-30,4,AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...,0.96972,,,,0.951132,3.66739,,,,0.312627
7,0000001750,2014-05-30,1,AAR Corporation (NYSE:AIR) Q4 2014 Earnings Co...,,,,,,,,,,

In [ ]:
# arrays2 = [['0000001750'], ['2007-05-30'],['4']]
# i2 = pd.MultiIndex.from_arrays(arrays2, names=('CIK', 'dateyear','quarter'))
# t2 = df_3.loc[i]['Field3']
# t2[0]

# per dateyear df

In [189]:
df_per_dateyear = df_new_sorted3

In [190]:
df_per_dateyear3 = df_per_dateyear[0:10]

In [191]:
array_agg3 = lambda x: ' '.join(x)
df_3 = df_per_dateyear3.groupby(['CIK','dateyear']).agg({'Field3':array_agg3})

In [192]:
df_3

                                                                  Field3
CIK        dateyear
0000001750 2007-05-30  AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...
           2008-05-30  AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...
           2012-05-30  AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...
           2013-05-30  AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...
           2014-05-30  AAR Corporation (NYSE:AIR) Q3 2015 Results Ear...

In [193]:
z = df_3.reset_index(inplace=False)

In [194]:
z

          CIK    dateyear                                             Field3
0  0000001750  2007-05-30  AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...
1  0000001750  2008-05-30  AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...
2  0000001750  2012-05-30  AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...
3  0000001750  2013-05-30  AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...
4  0000001750  2014-05-30  AAR Corporation (NYSE:AIR) Q3 2015 Results Ear...

In [195]:
# score calculating logic per dateyear

#z['Cosine_Similarity'] = ""
#z['Euclidean_Distance'] = ""

z['bert_c'] = ""
z['word2Vec_c'] = ""
z['doc2Vec_c'] = ""
z['golVe_c'] = ""
z['tf_idf_c'] = ""
z['bert_e'] = ""
z['word2Vec_e'] = ""
z['doc2Vec_e'] = ""
z['golVe_e'] = ""
z['tf_idf_e'] = ""


CIK_list_3 = list(set(z['CIK'].to_list()))

for i in range(0,len(CIK_list_3)):
    df_temp_cik_3 = z.loc[z['CIK'] == CIK_list_3[i]]
    
    dateyear_list_3 = list(set(df_temp_cik_3['dateyear'].to_list()))
    
    dateyear_year = []
    for i in range(0,len(dateyear_list_3)):
        dateyear_year.append(int(dateyear_list_3[i].split('-')[0]))
        
    dateyear_year = set(dateyear_year)
    
    index_list = df_temp_cik_3.index.tolist()

    for i in range(1,len(df_temp_cik_3)):
        current_year = int(df_temp_cik_3['dateyear'][i].split('-')[0])

        
        if current_year - 1 in dateyear_year:
            documents_df = df_temp_cik_3.iloc[i-1:i+1,2].reset_index(drop = True).to_frame()
            
            # remove from
            #cosine = score(documents_df,'Cosine Similarity')
            #euclidean = score(documents_df,'Euclidean Distance')
                
            #z['Cosine_Similarity'][index_list[i]] = cosine
            #z['Euclidean_Distance'][index_list[i]] = euclidean
            # remove end
            
#             stop_words_l = stopwords.words('english')
#             documents_df['Field3'] = \
#                 documents_df.documents.apply(lambda x: \
#                     ' '.join(re.sub(r'[^a-zA-Z]', ' ', w).lower() for w in
#                     x.split() if re.sub(r'[^a-zA-Z]', ' ', w).lower()
#                     not in stop_words_l))

            bert_c = scores.bert(documents_df,'Cosine Similarity')
            #word2Vec_c = scores.word2Vec(documents_df,'Cosine Similarity')
            #doc2Vec_c = scores.doc2Vec(documents_df,'Cosine Similarity')
            #golVe_c = scores.golVe(documents_df,'Cosine Similarity')
            tf_idf_c = scores.tf_idf(documents_df,'Cosine Similarity')
            bert_e = scores.bert(documents_df,'Euclidean Distance')
            #word2Vec_e = scores.word2Vec(documents_df,'Euclidean Distance')
            #doc2Vec_e = scores.doc2Vec(documents_df,'Euclidean Distance')
            #golVe_e = scores.golVe(documents_df,'Euclidean Distance')
            tf_idf_e = scores.tf_idf(documents_df,'Euclidean Distance')
        
        
            z['bert_c'][index_list[i]] = bert_c
            #z['word2Vec_c'][index_list[i]] = word2Vec_c
            #z['doc2Vec_c'][index_list[i]] = doc2Vec_c
            #z['golVe_c'][index_list[i]] = golVe_c
            z['tf_idf_c'][index_list[i]] = tf_idf_c
            z['bert_e'][index_list[i]] = bert_e
            #z['word2Vec_e'][index_list[i]] = word2Vec_e
            #z['doc2Vec_e'][index_list[i]] = doc2Vec_e
            #z['golVe_e'][index_list[i]] = golVe_e
            z['tf_idf_e'][index_list[i]] = tf_idf_e

In [196]:
# c
# CIK_list_3
# index_list
# dateyear_list_3
# print(dateyear_year)

In [197]:
z

,CIK,dateyear,Field3,bert_c,word2Vec_c,doc2Vec_c,golVe_c,tf_idf_c,bert_e,word2Vec_e,doc2Vec_e,golVe_e,tf_idf_e
0,0000001750,2007-05-30,AAR Corp. (NYSE:AIR) F3Q08 (Qtr End 02/29/08) ...,,,,,,,,,,
1,0000001750,2008-05-30,AAR CORP. (NYSE:AIR) F3Q09 (Qtr End 02/28/09) ...,0.941055,,,,0.961488,5.20785,,,,0.277532
2,0000001750,2012-05-30,"AAR (NYSE:AIR) Q3 2013 Earnings Call March 19,...",,,,,,,,,,
3,0000001750,2013-05-30,AAR Corp (NYSE:AIR) F3Q2014 Earnings Conferenc...,0.960061,,,,0.973371,4.23228,,,,0.230775
4,0000001750,2014-05-30,AAR Corporation (NYSE:AIR) Q3 2015 Results Ear...,0.901177,,,,0.947412,6.78751,,,,0.32431

# Optional

# Part 3

In [60]:
sorted_df = df.sort_values(by= ["CIK","fyear","Month","Day"], kind="mergesort", ascending=[True, True, True, True]).reset_index(drop = True)

In [63]:
# sorted_df

In [62]:
clean_df = sorted_df.dropna()
clean_df = sorted_df.reset_index(drop=True)

In [64]:
# clean_df.head()

In [64]:
clean_df = sorted_df[sorted_df['fyear'].notna()]

In [65]:
clean_df = clean_df.reset_index(drop = True)

In [65]:
# clean_df.head(10)